.about{
    padding: 20px 0;
    width: 100%;
    background-color: #f0f0f0;
}
.about-container{
    padding: 0 15px;
    margin:  0 150px;
}
.section-header{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.about-container p{
    margin-bottom: 50px;
}
.section-header:after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #0066a1;
    bottom: 0;
    left: calc(50% - 25px);
}
.about-button{
    display: block;
    width: 130px;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width:840px){
    .about-container{
        margin: 5%;
        padding: 10px 0;
    }

    .about-button{
        width: fit-content;
    }
}